{% extends 'template_base.html' %}
{% block conteudo %}
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Painel de Produtos
            </div>
            <div class="panel-body text-center">
                <h4>Produtos Cadastrados</h4>
                <h2>{{qtdProdutos}}</h2>
                <a href="{% url 'cadastraProduto' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Cadastrar
                </a>
                <a href="{% url 'produtos' %}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Visualizar
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Painel de Compras
            </div>
            <div class="panel-body text-center">
                <h4>Compras Cadastradas</h4>
                <h2>{{qtdCompras}}</h2>
                <a href="{% url 'cadastraCompra' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Cadastrar
                </a>
                <a href="{% url 'compras' %}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Visualizar
                </a>
            </div>
        </div>
    </div>
{% endblock %}