<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-static-top">
            <div class="navbar-header">
                <a href="{% url 'index' %}" class="navbar-brand">Estoque</a>
            </div>
        </nav> 
        
        <div class="col-md-10 col-md-offset-1" style="padding-top: 100px;">
            {% block conteudo %}
            {% endblock %}
        </div>
    </div>
</body>
</html>