{% extends 'template_base.html' %}
{% block conteudo %}
    <div class="text-center">
        <h1>Novo Produto</h1>
    </div>
    {% if error_message %}
        <div class="alert alert-danger">
            <strong>{{ error_message }}</strong>
        </div>
    {% endif %}

    <form action="{% url 'salvaProduto' %}" method="POST" onsubmit="return confirm('Deseja confirmar cadastro?')">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Nome</label>
            <input 
                type="text" 
                name="nome"
                placeholder="Digite o nome do Produto"
                class="form-control"
                required
            >
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button type="submit" class="btn-block btn btn-primary">Cadastrar Produto</button>
            </div>    
            <div class="col-xs-6">
                <a href="{% url 'produtos' %}" class="btn-block btn btn-danger">Voltar</a>
            </div>
        </div>
    </form>
{% endblock %}