{% extends 'template_base.html' %}
{% block conteudo %}
    <div class="text-center">
        <h1>Atualizar Produto</h1>
    </div>
    {% if error_message %}
        <div>
            <strong>{{ error_message }}</strong>
        </div>
    {% endif %}

    <form action="{% url 'atualizarProduto' produto.id %}" method="POST" onsubmit="return confirm('Deseja confirmar atualização?')">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group">
                <label for="">Nome</label>
                <input 
                    type="text" 
                    name="nome"
                    placeholder="Digite o nome do Produto"
                    value="{{produto.nome}}"
                    class="form-control text-center"
                    required
                >
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="submit" class="btn-block btn btn-primary">Cadastrar Produto</button>
                </div>    
                <div class="col-xs-6">
                    <a href="{% url 'produtos' %}" class="btn-block btn btn-danger">Voltar</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}        