{% extends 'template_base.html' %}
{% block conteudo %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8">
                    <h4>Lista de Produtos</h4>
                </div>
                <div class="col-xs-4 text-right">
                    <a href="{% url 'cadastraProduto' %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        Adicionar
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">               
            {% if produtos %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        <tr class="text-center">
                            <td>{{ produto.nome }}</td>
                            <td>
                                <a href="{% url 'editaProduto' produto.id %}" class="btn btn-warning btn-xs">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'excluiProduto' produto.id %}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja realmente excluir este produto? \nTODOS os Registros de Compra serão perdidos!!')">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </div>
            </table>
            {% else %}
                <h4 class="alert alert-danger">Nenhum produto cadastrado</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}