{% extends 'template_base.html' %}
{% block conteudo %}
    <div class="text-center">
        <h1>Nova Compra</h1>
    </div>
        {% if error_message %}
        <div class="alert alert-danger">
            <strong>{{ error_message }}</strong>
        </div>
    {% endif %}
    <form action="{% url 'salvaCompra' %}" method="POST" onsubmit="return confirm('Deseja confirmar cadastro?')">
        {% csrf_token %}
        <div class="form-group">

            <label for="">Produto</label>
            <select name="produto_id" class="form-control" required>
                {% for produto in produtos %}
                    <option value="{{ produto.id }}">{{produto.nome}}</option>
                {% endfor %}
            </select>

            <label for="">Quantidade</label>
            <input 
                type="number" 
                min="1" 
                value="1" 
                class="form-control" 
                required
                name="quantidade"
            >

            <label for="">Preço Compra</label>
            <input 
                type="text" 
                class="form-control" 
                required
                name="preco_compra"
            >                       
       </div>

        <div class="row">
            <div class="col-xs-6">
                <button type="submit" class="btn-block btn btn-primary">Cadastrar Compra</button>
            </div>    
            <div class="col-xs-6">
                <a href="{% url 'compras' %}" class="btn-block btn btn-danger">Voltar</a>
            </div>
        </div>
      
    </form>
{% endblock %}