{% extends 'template_base.html' %}
{% block conteudo %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8">
                    <h4>Lista de Compras</h4>
                </div>
                <div class="col-xs-4 text-right">
                    <a href="{% url 'cadastraCompra' %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        Adicionar
                    </a>
                </div>
            </div>
        </div>

        <div class="panel-body">
            {% if compras %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Produto</th>
                        <th class="text-center">Qtd</th>
                        <th class="text-center">Pr. Compra</th>
                        <th class="text-center">Pr. Médio</th>
                        <th class="text-center">Excluir</th>
                    </tr>
                </thead>
                {% for compra in compras %}
                    <tr class="text-center">
                        <td>{{ compra.produto.nome }}</td>
                        <td>{{ compra.quantidade }}</td>
                        <td>R$ {{ compra.preco_compra }}</td>
                        <td>R$ {{ compra.precoMedio }}</td>
                        <td>
                            <a href="{% url 'excluiCompra' compra.id %}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja realmente excluir esta compra?')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <h3 class="alert alert-warning">Nenhum compra cadastrada</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}